@import url('../assets/colorScheme.css');
@import url('../assets/defaultSizes.css');

.buttons-group {
  border-top: 20px solid var(--blueGrey200);
  border-radius: var(--borderRadius);
  background-color: var(--blueGrey50);
  display: flex;
  flex: 1 1 16;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 4.5rem;
  padding: 1rem;
  gap: 1rem;
}

.buttons-style {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 4.3rem;
  border: 1px solid var(--blueGrey100);
  background-color: var(--white);
  font-size: 1.4rem;
  border-radius: var(--borderRadius);
  padding: 0.6rem;
}

#color-picker {
  border: none;
  width: 2.8rem;
}

.pencil-small {
  width: 16px;
  height: 16px;
}

.pencil-medium {
  width: 24px;
  height: 24px;
}

.pencil-large {
  width: 32px;
  height: 32px;
}


.pencil {
  border: 1px solid var(--blueGrey700);
  border-radius: 50%;
}
