@import url('../assets/colorScheme.css');

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--blue);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  margin-left: 6rem ;
  top: 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltiptext {
  opacity: 0.8;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
