body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#canvas {
  cursor: crosshair;  
  position: absolute;
  top: 0;
  left: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.buttons-style {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 4.3rem;
  font-size: 1.4rem;
  border-radius: 10px;
  padding: 0.6rem;
}

.buttons-group {
  border-top: 20px solid rgb(114, 201, 254);
  border-radius: 0.5rem;
  background-color: #e0e0e0;
  display: flex;
  flex: 1 1 16;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 4.5rem;
  padding: 1rem;
  gap: 1rem;
}

.logo {
  z-index: 9999;
  position: fixed;
  top: 20px;
  left: 30px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.logo-text {
  font-size: 1.2rem;
}

.logo-pic {
  font-size: 2rem;
}

#color-picker {
  border: none;
  width: 2.8rem;
}

.pencil-small {
  width: 16px;
  height: 16px;
}

.pencil-medium {
  width: 24px;
  height: 24px;
}

.pencil-large {
  width: 32px;
  height: 32px;
}


.pencil {
  border-radius: 50%;
}

.floating-helper {
  width: fit-content;
}
